clipper_5d865bb.sif
data/aligned/IFIT2_IFIT3_FLAG_IP_Aligned.sortedByCoord.dedup.bam
data/aligned/IFIT2_IFIT3_FLAG_IP_Aligned.sortedByCoord.out.bam
data/aligned/IFIT2_IFIT3_FLAG_SMInput_Aligned.sortedByCoord.dedup.bam
data/aligned/IFIT2_IFIT3_FLAG_SMInput_Aligned.sortedByCoord.out.bam
data/aligned/IFIT2_IFIT3_HA_IP_Aligned.sortedByCoord.dedup.bam
data/aligned/IFIT2_IFIT3_HA_IP_Aligned.sortedByCoord.out.bam
data/aligned/IFIT2_IFIT3_HA_SMInput_Aligned.sortedByCoord.dedup.bam
data/aligned/IFIT2_IFIT3_HA_SMInput_Aligned.sortedByCoord.out.bam
data/aligned/IFIT2_alone_FLAG_IP_Aligned.sortedByCoord.dedup.bam
data/aligned/IFIT2_alone_FLAG_IP_Aligned.sortedByCoord.out.bam
data/aligned/IFIT2_alone_SMInput_Aligned.sortedByCoord.dedup.bam
data/aligned/IFIT2_alone_SMInput_Aligned.sortedByCoord.out.bam
data/aligned/IFIT3_alone_HA_IP_Aligned.sortedByCoord.dedup.bam
data/aligned/IFIT3_alone_HA_IP_Aligned.sortedByCoord.out.bam
data/aligned/IFIT3_alone_SMInput_Aligned.sortedByCoord.dedup.bam
data/aligned/IFIT3_alone_SMInput_Aligned.sortedByCoord.out.bam
data/aligned/WT_FLAG_IP_Aligned.sortedByCoord.dedup.bam
data/aligned/WT_FLAG_IP_Aligned.sortedByCoord.out.bam
data/aligned/WT_FLAG_SMInput_Aligned.sortedByCoord.dedup.bam
data/aligned/WT_FLAG_SMInput_Aligned.sortedByCoord.out.bam
data/aligned/WT_HA_IP_Aligned.sortedByCoord.dedup.bam
data/aligned/WT_HA_IP_Aligned.sortedByCoord.out.bam
data/aligned/WT_HA_SMInput_Aligned.sortedByCoord.dedup.bam
data/aligned/WT_HA_SMInput_Aligned.sortedByCoord.out.bam
data/raw_fastq/SRR31773512.fastq.gz
data/raw_fastq/SRR31773513.fastq.gz
data/raw_fastq/SRR31773514.fastq.gz
data/raw_fastq/SRR31773515.fastq.gz
data/raw_fastq/SRR31773516.fastq.gz
data/raw_fastq/SRR31773517.fastq.gz
data/raw_fastq/SRR31773518.fastq.gz
data/raw_fastq/SRR31773519.fastq.gz
data/raw_fastq/SRR31773538.fastq.gz
data/raw_fastq/SRR31773539.fastq.gz
data/raw_fastq/SRR31773540.fastq.gz
data/raw_fastq/SRR31773541.fastq.gz
data/reference/STAR_index_hg19/Genome
data/reference/STAR_index_hg19/SA
data/reference/STAR_index_hg19/SAindex
data/reference/STAR_index_hg19/exonGeTrInfo.tab
data/reference/gencode.v19.annotation.gtf
data/reference/gencode.v19.annotation.gtf.gz
data/reference/hg19.fa
data/reference/hg19.fa.gz
data/trimmed/SRR31773512_trimmed.fastq.gz
data/trimmed/SRR31773512_umi.fastq.gz
data/trimmed/SRR31773513_trimmed.fastq.gz
data/trimmed/SRR31773513_umi.fastq.gz
data/trimmed/SRR31773514_trimmed.fastq.gz
data/trimmed/SRR31773514_umi.fastq.gz
data/trimmed/SRR31773515_trimmed.fastq.gz
data/trimmed/SRR31773515_umi.fastq.gz
data/trimmed/SRR31773516_trimmed.fastq.gz
data/trimmed/SRR31773516_umi.fastq.gz
data/trimmed/SRR31773517_trimmed.fastq.gz
data/trimmed/SRR31773517_umi.fastq.gz
data/trimmed/SRR31773518_trimmed.fastq.gz
data/trimmed/SRR31773518_umi.fastq.gz
data/trimmed/SRR31773519_trimmed.fastq.gz
data/trimmed/SRR31773519_umi.fastq.gz
data/trimmed/SRR31773538_trimmed.fastq.gz
data/trimmed/SRR31773538_umi.fastq.gz
data/trimmed/SRR31773539_trimmed.fastq.gz
data/trimmed/SRR31773539_umi.fastq.gz
data/trimmed/SRR31773540_trimmed.fastq.gz
data/trimmed/SRR31773540_umi.fastq.gz
data/trimmed/SRR31773541_trimmed.fastq.gz
data/trimmed/SRR31773541_umi.fastq.gz
